@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.slick-slide > div {
  margin: 0 3px;
}

*:focus {
  outline: 0;
  outline: none;
}

.selected {
  border: 1px solid #450a0a;
  border-radius: 5px;
}


.relative .tooltip-text {
  visibility: hidden;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 11px;
  color: #fff;
  text-align: center;
  border-radius: 100px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}

.status-ball:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

input:focus, textarea:focus {
  outline: none;
  box-shadow: 0; 
}